#### 1 : 11047

In [27]:
n,k = map(int,input().split())
N_list = []
for i in range(n):
    N_list.insert(0,int(input()))

count = 0
for i in N_list:
    if i>k:
        pass
    if i<=k:
        count += (k//i)
        k= k%i
print(count)

10 4790
1
5
10
50
100
500
1000
5000
10000
50000

[50000, 10000, 5000, 1000, 500, 100, 50, 10, 5, 1]

#### 3 : 11399

In [2]:
n = int,input()
p = list(map(int,input().split()))

p = sorted(p)

sum_p = []

for i in range(len(p)):
    sum_p.append(p[i]*(len(p)-i))
    
sum(sum_p)

5
3 1 4 3 2

#### 5 : 13305

In [ ]:
town = int(input())
road = list(map(int,input().split()))
oil = list(map(int,input().split()))