N으로 표현

https://programmers.co.kr/learn/courses/30/lessons/42895
https://gurumee92.tistory.com/164

In [ ]:
def solution(N, number):
    answer = 0 
    return answer

In [ ]:
def solution(N, number): #??
    # 허뎝님의 수정 피드백 -> 테스트 케이스가 바뀌면서 예외 사항을 추가해야 함.
    if N == number:
        return 1
        
    # 1. [ SET x 8 ] 초기화
    s = [ set() for x in range(8) ] 

    # 2. 각 set마다 기본 수 "N" * i 수 초기화
    for i,x in enumerate(s, start=1):
        x.add( int( str(N) * i ) )

    # 3. n 일반화
    #   { 
    #       "n" * i U 
    #       1번 set 사칙연산 n-1번 set U
    #       2번 set 사칙연산 n-2번 set U
    #       ...
    #       n-1번 set 사칙연산 1번 set, 
    #    } 
    # number를 가장 최소로 만드는 수 구함.
    for i in range(1, 8): # 최솟값이 8보다 크면 -1 리턴
        for j in range(i):
            for op1 in s[j]:
                for op2 in s[i-j-1]:
                    s[i].add(op1 + op2)
                    s[i].add(op1 - op2)
                    s[i].add(op1 * op2)
                    if op2 != 0:
                        s[i].add(op1 // op2)

        if  number in s[i]:
            answer = i + 1
            break

    else:
        answer = -1

    return answer

In [ ]:
solution()

H index

https://programmers.co.kr/learn/courses/30/lessons/42747

In [26]:
def solution(citations):
    answer = 0
    citations = sorted(citations)
    #for i in citations:
        #if 
    return answer

[0, 1, 3, 5, 6]

In [27]:
def solution(citations):
    citations = sorted(citations)
    l = len(citations)
    for i in range(l):
        if citations[i] >= l-i: #h번 이상 인용된 논문이 h편 이상
            print(citations)
            return l-i
    return 0

In [28]:
solution([3,0,6,1,5])

[0, 1, 3, 5, 6]

3

조이스틱

https://programmers.co.kr/learn/courses/30/lessons/42860

In [ ]:
def solution(name):
    name = list(input().strip())
    answer = 0
    for i in range(1,len(name)-1):
        if name[i] == 'A':
            answer += 1
        else:
            answer += min(abs(ord('A') - ord(name[i])),abs(ord('Z') - ord(name[i]))+1)
    return answer

In [29]:
def solution(name):
    change = [min(ord(i) - ord("A"), ord("Z") - ord(i)+1) for i in name]
    idx, answer = 0, 0

    while True:
        answer += change[idx]
        change[idx] = 0

        if sum(change) == 0:
            break

        left, right = 1, 1 # 좌우 거리를 구하기
        while change[idx - left] == 0:
            left += 1

        while change[idx + right] == 0:
            right += 1

        answer += left if left < right else right # 방향 변경
        idx += -left if left < right else right
        
    return answer

In [30]:
solution('JAN')

23