### 11단계 : 부르트 포스

#### 1 : 2798

In [12]:
n,m = map(int,input().split(' '))
A = list(map(int,input().split(' ')))
b = []
for i in A:
    for j in A:
        for k in A:
            if i !=j and j!=k and i!=k:
                if i+j+k > m:
                    continue
                elif i+j+k <= m:
                    b.append(i+j+k)
print(max(b))

10 500
93 181 245 214 315 36 185 138 216 295
497

#### 3 : 7568

In [31]:
n = int(input())
a = []

for i in range(n):
    x,y = map(int,input().split(' '))
    a.append((x,y))

for i in a :
    rank = 1
    for j in a :
        if i[0] < j[0] and i[1] < j[1] :
            rank += 1 
    print(rank, end= ' ')

3
55 185
58 183
88 186
[(55, 185), (58, 183), (88, 186)]

#### 5 : 1436

In [65]:
n = int(input())

if n < 6:
    print((n-1)*1000+666)
elif n <= 9:
    print(666*10 + n)

3
2666

In [ ]:
6보다 작으면 앞에 붙음
6보다 크고 9보다 작으면 뒤에 붙음

In [49]:
16%10

6

In [84]:
n = int(input())
if n%10 < 6 :
    print((n%10-1)*1000+666)

11
666

In [83]:
n = int(input())
if n%10 >= 6 :
    print(666*10+(n%10-1))
elif n%10 == 0:
    print(666*10+(9))

10
6669

In [87]:
n = int(input())
n//10*10

9

0

In [101]:
n = int(input())
if n%10 < 6 :
    print((((n//10*10)+(n%10-1))*1000)+666)

95
94666

In [64]:
6%6

0